.add-new-container {
  max-width: 700px;
  margin: auto;
  padding: 0 20px;

  .recipe-input {
    font-size: 16px;
    width: 100%;
  }
}

.source-and-portions-container {
  display: flex;
  margin-top: $gutter;

  .recipe-input:first-child {
    flex-basis: 70%;
    margin-right: $gutter;
  }

  .recipe-input:last-child {
    flex-basis: 30%;
  }
}

.textarea-container {
  margin-top: $gutter;
  display: flex;

  .recipe-input {
    font-size: 14px;
    resize: vertical;
  }
}